* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}

:root {
  --title-text: #51c6af;
  --background: #f7f7f7;
  --vouchers: #cc0000;
  --sub-text: #666666;
  --hover-color: #339a7d;
}

.wrapper-product-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  position: relative; 
  margin-top: -50px;
}

.wrapper-banner {
  margin: 0px auto;
  padding: 0px 10px;
  width: 940px;
  background: transparent;
}

.cart-container {
  position:relative;
  height: 50px; 
  width: 50px;
  margin-top: -30px;
}

.cart-container img{
  width: 100%;
  height: 100%;
  cursor: pointer
}

.cart-container span {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: green;
  top: 50px;
  right: -10px;

  color: white;
  display: flex;
  align-items: center; 
  justify-content: center
}

.product-list-container {
  background: white;
  margin-top: 100px; 
  border-radius: 12px;
  padding: 20px;
}

.body-container {
  /* height: 100vh; */
  overflow: auto;
}


.main-container {
  overflow-y: auto;
  /* height: 60vh; */
}

.footer-main {
  background-color: black;
  width: 100%;
  /* overflow: auto;  */
}

.header-login {
  background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
  max-width: 1920px;
  /* height: 100vh; */
  overflow: auto; 
  position: relative;
  background-size: cover;
}

.login-container {
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 506px;
  width: 998px;
  opacity: 0.92;
  margin-top: 30px;
  border-radius: 8px;
}

.login-header {
  display: flex; 
  flex-direction: column;
  align-items: center;
}

.line-container {
  margin-top: 15px; 
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.line-container small {
  text-align: center;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.login-form .login-items {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  margin-top: 10px; 
  margin-bottom: 10px;
}

.login-form .login-items p {
 min-width: 200px;
}

.login-form .login-items input {
  width: 518px;
  height: 35px;
  border: 1px solid #e9e9e9;
}
 
.login-items input::placeholder {
  color: #ccc;
  font-size: 14px;
  font-style: italic;
  letter-spacing: 2px;
}

.login-form button {
  margin-left: 200px; 
  padding: 10px 20px;; 
  color: white; 
  background: var(--title-text);
  border: none; 
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background: var(--hover-color)
}

.login-container h1 {
  font-size: 37px;
  font-weight: 700;
  line-height: 45px;
  text-align:: center;
}

.social-login {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.social-login img {
  cursor: pointer;
  width: 15px; 
  height: 15px;
  margin-right: 10px
}

.social-login .login-google {
  background: white; 
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px; 
  border: 1px solid #ccc; 
  width: 287px;
  height: 48px;
  display: flex; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}

.social-login .login-fb {
  background: #1877F2; 
  padding: 10px;
 color: white; 
 border-radius: 8px; 
 border: none; 
 width: 287px;
 height: 48px;
 cursor: pointer; 
}

.social-login .login-fb i {
  color: white; 
  margin-right: 10px;
}

.relative-product {
  margin-top: 30px;
  padding: 20px;
  background: white;
  border-radius: 8px;
}
.store-info h2 {
  padding: 20px;
  font-size: 18px;
  color: var(--sub-text);
}

.user-feedback {
  display: flex;
  align-items: center;
}

.user-feedback .user-info {
  margin-left: 20px;
}

.user-info h5 {
  margin-bottom: 20px;
}

.user-info p {
  margin-top: 10px;
}

.sort-comment {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-items: center;
}

.sort-comment p {
  margin-right: 10px;
}

.sort-comment select {
  padding: 10px;
  background: transparent;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.comment-container {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.comment-container h1 {
  font-size: 21px;
}

.comment-input {
  display: flex;
  align-items: center;
}

.comment-input .comments {
  margin-left: 20px;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-detail-bg {
  background: var(--background);
  /* height: 50vh; */
  /* overflow: auto;  */
}

.product-detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-detail-container {
  padding: 20px;
  border-radius: 8px;
  background: white;
}

.product-detail-image img {
  width: 80%;
}

.product-detail-info h2 {
  font-size: 21px;
}

.product-detail-info p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 400
  font-size: 16px;
}

.product-detail-info .btn-add-cart {
  background: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--title-text);
  color: var(--title-text);
  min-width: 200px;
  height: 35px;
  cursor: pointer;
}

.product-detail-info .btn-add-cart a {
  color: var(--title-text);
}

.product-detail-info .btn-add-cart:hover {
  border: 1px solid var(--hover-color);
  color: var(--hover-color);
  cursor: pointer; 
  min-width: 200px;
}


.sub-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--sub-text);
  font-weight: 400;
}

.product-detail-info .btn-buy {
  margin-top: 10px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  background: var(--hover-color);
  border: 1px solid var(--title-text);
  color: white;
  min-width: 200px;
  height: 35px;
  cursor: pointer;
}

.product-detail-info .btn-buy a {
  color: white;
}

.product-detail-info .btn-buy:hover {
  min-width: 200px;
  background: var(--hover-color);
  border: 1px solid var(--hover-color);

}

.social-list img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.product-items h2 {
  padding: 20px;
  font-size: 18px;
  color: var(--sub-text);
}

.product-items ul {
  padding: 20px;
}

.product-items ul li {
  color: var(--sub-text);
}

.product-detail-info .text-price {
  color: var(--title-text);
  font-weight: bold;
  list-style-type: circle;
}
.product-detail-info .text-voucher {
  color: var(--vouchers);
  list-style-type: circle;
}
.product-detail-info ul p::before{
  /* list-style-type: circle; */
  color: #666666;
  content: "• ";
  font-weight: bold;
  display: inline-block;
  width: 1.5rem;
  font-size: 28px;
  
}

.product-detail {
  display: grid;
  grid-template-columns: 50% 50%;
}

.body-product-page {
  background: var(--background);
  /* height: 100vh;  */
}

.list-product {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter {
  position: absolute;
  margin-top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-container {
  padding: 20px;
  border-radius: 8px;
  background: white;
  display: flex;
  justify-content: space-between;
}

.filter-container input {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: transparent;
  margin: 10px;
  width: 50%;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border-radius: 8px;
  outline: none;
}

.filter-container select {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: transparent;
  margin: 10px;
  width: 30%;
  padding: 7px 8px;
  font-size: 14px;
}

.range-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.range-price input {
  height: 42px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: transparent;
  margin: 10px;
  width: 30%;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border-radius: 8px;
  outline: none;
}

.filter-container button {
  background: var(--title-text);
  color: white;
  width: 20%;
  height: 42px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.filter-container button:hover {
  background: var(--hover-color);
  color: white;
}

.header-product-page {
  background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
  max-width: 1920px;
  position: relative;
  background-size: cover;
  height: 300px;
}

.footer-product-page {
  /* height: 20vh; */
}

.title-page {
  color: white;
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 21px;
}

.header {
  background: url(../images/Layer_44.png);
  max-width: 1920px;
  height: 560px;
  background-size: cover;
  position: relative;
}

#top_header {
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  height: 52px;
  vertical-align: middle;
 
}

.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.wrapper-container {
  margin: 30px auto;
  padding: 10px 10px;
  width: 940px;
  background: white;
  border-radius: 5px;

}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

#logo_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_top a {
  height: 15px;
  color: #8d8d8d;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin-right: 20px;
}

#logo_top .icons {
  width: 26px;
  height: 26px;
  margin-right: 5px;
  cursor: pointer;
}

.header-action button {
  color: #cccccc;
  background: none;
  border: none;
  margin-right: 10px;
}

.header-action img {
  height: 30px;
  width: 30px;
}

.header-action .btn-action {
  display: flex; 
  align-items: center;
  justify-content: center;
}

.header-action button img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.header-action button a {
  color: #ccc;
}

.header-action button a:hover {
  color: #fff;
}

.banner {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 940px;
}

.top-banner {
  display: flex;
  justify-content: end;
  align-items: center;
}

.top-banner img {
  height: 32px;
  width: 32px;
  margin-left: 15px;
  cursor: pointer;
}

.top-banner .cart-icon {
  height: 32px;
  width: 32px;
  margin-left: 15px;
  margin-top: 50px;
}

.main-logo img {
  height: 80px;
  width: 230px;
}

.searchbar {
  margin-top: 50px;
  max-width: 339px;
  height: 37px;
  border-radius: 8px;
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid #999999;
  border-radius: 5px;
  align-items: center;
}

.searchbar:hover { 
  border: 1px solid white;
}

.searchbar img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.searchbar img {
  height: 18px;
  width: 18px;
}

.searchbar input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  width: 100%;
  padding: 7px 8px;
  font-size: 14px;
  color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
}

input[type="search"]::placeholder {
  color: white;
  font-size: 18px;
  font-style: italic;
  text-align: right;
}

.searchbar p {
  color: white;
  font-size: 18px;
}

/* nar-bar style */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-bar ul {
  flex: 1;
  text-align: right;
}
.nav-bar ul li {
  display: inline-block;
  margin: 0 10px;
}
.main-nav {
  display: inline-block;
  justify-content: space-between;
}

.main-nav li {
  margin: 0 15px;
}

.main-nav li > a {
  color: #8d8d8d;
  text-transform: uppercase;
}

.main-nav li > a:hover {
  color: #fff;
  text-transform: uppercase;
}

.mobile-nav {
  display: none;
}
.header-container-mobile {
  display: none;
}

/* footer style  */
.footer {
  background-color: black;
  width: 100%;
  /* overflow: auto; */
}

.footer-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 15px;
  padding: 40px 0;
}

.col-1 h1 {
  text-transform: uppercase;
  color: white;
  font-size: 21px;
}

.col-1 hr {
  margin-top: 10px;
  width: 20%;
  color: #ccc;
}

.col-1 p {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
}

.col-1 a {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
}

.col-1 a:hover {
  color: #fff;
}

.col-1 ul li {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
}

.hightlight-text {
  margin-top: 15px;
  color: #51c6af;
  font-size: 21px;
  text-transform: uppercase;
}

.col-2 h1 {
  text-transform: uppercase;
  color: #ccc;
  font-size: 21px;
}

.col-2 p {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
}

.col-2 a {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
  cursor: pointer;
}

.col-2 a:hover {
  color: #fff;
}

.col-2 ul li {
  margin-top: 15px;
  color: #ccc;
  font-size: 16px;
}

/* category list style  */
.category-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 10px;
  padding: 20px 10px;
  justify-content: center;
}

.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-item img {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.category-item h1 {
  font-size: 21px;
  text-transform: uppercase;
}

.category-item p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
}

/* slide style  */

.slide-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
}
.slide-item img {
  width: 100%;
}

/* Danh muc san pham  */

.product-list {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;

}

.product-list button {
  max-width: 200px;
  padding: 10px 10px;
  border: solid 1px #ccc;
  background: white;
  border-radius: 5px;
  margin-right: 10px;
}

.product-list a {
  color: #000
}

.product-list button:hover {
  background: #ccc;
}

.header-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.tilte-text a {
  text-transform: uppercase;
  text-align: center;
  color: var(--title-text);
  font-size: 21px;
}
.title-line {
  margin-top: 5px;
  color: var(--title-text);
  text-align: center;
  width: 20%;
}

/* product item style  */
.product-item {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-line {
  color: var(--title-text);
}

.product-name a {
  font-size: 18px;
  color: #000; 
  cursor: pointer;
}

.product-rating i {
  color: #ffc200;
}

.product-status {
  text-align: center;
  color: #999999;
  font-weight: 400;
}

.product-stock {
  text-align: center;
  color: #999999;
  font-weight: 400;
}

.product-price {
  font-weight: bold;
  color: var(--hover-color);
}

.add-to-cart button {
  padding: 10px;
  border: 1px solid var(--hover-color);
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

.add-to-cart button a{
  color: var(--hover-color);
}

.add-to-cart button:hover {
  background: var(--title-text);
}

.add-to-cart button>a:hover {
  color: white;
}

.see-more {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-item: center;
  justify-content: center;
}

.see-more-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--title-text);
  cursor: pointer;
}

.see-more-detail a {
  color: var(--title-text);
}

.product-img {
  position: relative;
}

.badge {
  position: absolute;
  top: -10px;
  right: -15px;
}

.product-item-mobile {
  display: none;
}

.login-form-mobile {
  display: none; 
}


.footer-container {
  /* overflow: auto;  */
}

.filter-container-mobile {
  display: none;
}

/* header tablet style */
@media only screen and (min-width: 600px) and (max-width: 800px) {


  .wrapper-product-page {
    margin: 0 auto;
    padding: 0 10px;
    width: 600px;
    position: normal; 
    margin-top: 10px;
  }

  .wrapper-banner {
    margin: 0px auto;
    padding: 0 10px;
    width: 600px;
    background: transparent;
  }

  .filter-container-mobile {
    display: none;
  }

  .product-detail-bg {
    background: var(--background);
    /* height: 60vh; */
    overflow: auto; 
  }

  .header-product-page {
    background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
    max-width: 1920px;
    height: 200px;
    position: relative;
    background-size: cover;
  }

  .comment-input {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .comment-input input {
    width: auto;
  }

  .comment-input .comments {
    margin-left: 20px;
    height: 52px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .product-detail-main {
    display: flex; 
    justify-content: center; 
  }

  .product-items {
    text-align: center
  }

  .store-info {
    text-align: center
  }

  .user-feedback {
    display: inline;
  }

  .product-detail-info h2, p, h5, a{
    text-align: center;
    margin-top: 20px;
    color: black; 
    cursor: pointer;
  } 

  .sort-comment {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center
  }  
 
  .product-detail-info .social-list {
   text-align: center 
  }

  .product-detail-info .product-rating {
    text-align: center;
    margin-top: 10px; 
  }

  .line-container {
    margin-top: 5px; 
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .line-container small {
    text-align: center;
  }

  .header-login {
    background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
    max-width: 1920px;
    /* height: 70vh; */
    overflow: auto; 
    position: relative;
    background-size: cover;
  }

  .footer-main {
    /* height: 30vh;  */
    /* overflow: auto;  */
  }

  .login-container {
    margin-top: 50px;
    height: auto;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
   
  }

  .social-login {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-login .login-fb {
    margin-bottom: 10px; 
    min-width: 200px;
    margin-right: 0px;
  }

  .social-login .login-google {
    margin-bottom: 20px; 
    min-width: 200px;
    margin-left: 0px;
    }
  
  
  .login-form {
    display: none;
  }

  .login-form-mobile {
    width: 100%;
    display: flex; 
    margin-bottom: 10px
    /* align-items: center; */
    /* justify-content: center; */
  }

  .login-form-mobile .login-items {  
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 100%
  }

  
  .login-form-mobile .login-items input {
    width: 100%;
    height: 35px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    
  }

  .login-form-mobile .login-items p {
    margin-bottom: 5px;
    text-align: left;
  }

  .login-form-mobile button {
    display: flex; 
    justify-content: center;
    /* margin-left: 200px;  */
    padding: 10px 20px;; 
    color: white; 
    background: var(--title-text);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: var(--hover-color)
  }
  
  .login-container h1 {
    font-size: 37px;
    font-weight: 700;
    line-height: 45px;
    text-align:: center;
  }
  
  .social-login {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: ;
  
  }
  
  .social-login img {
    cursor: pointer;
    width: 15px; 
    height: 15px;
    margin-right: 10px
  }
  
  .social-login .login-google {
    background: white; 
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px; 
    border: 1px solid #ccc; 
    width: auto;
    height: 48px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .social-login .login-fb {
    background: #1877F2; 
    padding: 10px;
   color: white; 
   border-radius: 8px; 
   border: none; 
   width: auto;
   height: 48px;
   cursor: pointer; 
  }
  
  .social-login .login-fb i {
    color: white;
  }

  .product-detail-item {
    display: grid;
    grid-template-column: 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .product-detail-image {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .product-detail-container {
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    background: white;
  }

  .product-detail-info p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 16px;
  }

  .product-detail-info .btn-add-cart {
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--title-text);
   
    cursor: pointer; 
    min-width: 200px;
    height: 35px;
  }

  .product-detail-info .btn-add-cart a {
    color: var(--title-text);
  }

  .btn-cart {
    text-align: center
  }

  .sub-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: var(--sub-text);
    font-weight: 400;
  }

  .product-detail-info .btn-buy {
    background: white;
    padding: 5px;
    border-radius: 5px;
    background: var(--hover-color);
    border: 1px solid var(--title-text);
    color: white;
    min-width: 200px;
    height: 35px;
  }

  .product-detail-info .btn-buy a {
    color: white;
  }

  .social-list img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .product-items h2 {
    padding: 20px;
    font-size: 18px;
    color: var(--sub-text);
  }

  .product-items ul {
    padding: 20px;
  }

  .product-items ul li {
    color: var(--sub-text);
  }

  .product-detail-info .text-price {
    color: var(--title-text);
    font-weight: bold;
  }
  .product-detail-info .text-voucher {
    color: var(--vouchers);
  }

  .product-detail-info ul.p {
    list-style-type: circle;
  }

  .product-detail {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .list-product {
    padding: 10px;
    width: 100%;
  }

  .filter {
    position: absolute;
    margin-top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .filter-container {
    padding: 10px;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: space-between;
  }
  .filter-container input {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 50%;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
    outline: none;
  }

  .filter-container select {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 30%;
    padding: 7px 8px;
    font-size: 14px;
  }

  .range-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .range-price input {
    height: 32px;
    border-radius: 8px;
  }

  .range-price p {
    font-size: 12px;
  }

  .filter-container button {
    width: 30%;
    height: 32px;
  }

  .product-item {
    display: none;
  }

  .product-item-mobile-container {
    margin-bottom: 20px;
  }

  .product-item-mobile {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    
  }


  .product-item-mobile .product-name a {
    font-szie: 16px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }


  .product-item-mobile .product-img img {
    width: 100%;
  }

  .product-item-mobile .product-rating {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-item-mobile .status {
    display: flex;
    justify-content: space-between;
  }

  .product-item-mobile .product-price {
    text-align: center;
    margin-bottom: 10px;
  }

  .product-item-mobile .add-to-cart {
    text-align: center;
  }

  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px
  }

  .product-list button {
    padding: 5px 5px;
    margin: 6px;
  }

  .product-list button a {
    color: #000
  }

  .slide-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .slide-item img {
    width: 100%;
  }

  .category-list {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 10px;
    padding: 10px 0;
  }

  .category-item img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
    padding: 30px 10;
  }

  .header {
    max-width: 100%;
    /* height: 40vh; */
    background-size: cover;
    background-attachment: fixed;
  }
  
  .wrapper {
    padding: 0 10px;
    width: 600px;
  }

    
  .wrapper-container {
    padding: 20px 20px;
    width: 600px;
    margin: 20px auto;
  }

  #top_header {
    /* position: fixed; */
    background-color: transparent;
    height: 52px;
  }

  .header-container {
    display: none;
  }

  .header-container-mobile {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header-container-mobile .logo-mobile {
    display: flex;
    justify-content: center;
 
  }

  .header-container-mobile .logo-mobile img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    cursor: pointer;
  }

  .header-container-mobile a {
    color: #8d8d8d;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 10px;
    margin-top: 0px;
  }

  .header-container-mobile .action-mobile {
    display: flex;
    align-items: center;
  }

  .header-container-mobile .action-mobile button {
    color: #cccccc;
    background: none;
    border: none;
    margin-left: 10px;
  }

  .banner {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 600px;
  }

  .top-banner {
    display: flex;
    align-items: center;
  }

  .top-banner img {
    height: 32px;
    width: 32px;
    margin-left: 15px;
    cursor: pointer;
  }

  .main-logo img {
    display: none;
  }

  .searchbar {
    margin-top: 50px;
    border-radius: 8px;
    padding: 2px;
    border: 1px solid #999999;
    height: 37px;
    width: 100%;
    display: flex;

    align-items: center;
  }

  .searchbar img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .searchbar img {
    height: 18px;
    width: 18px;
  }

  input[type="search"]::placeholder {
    font-size: 16px;
    color: white;
  }

  .searchbar p {
    color: white;
    font-size: 18px;
  }

  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    z-index: 999
  }

  .mobile-nav i {
    font-size: 30px;
    color: #ccc;
  }

  .mobile-nav li {
    padding: 10px 20px; 
    background: transparent;
  }

  .mobile-nav li:hover {
    background: var(--title-text); 
    border-radius: 12px;
    font-size: 30px;
    padding: 10px 20px; 
  }

  .mobile-nav i:hover {
    color: white;
  }

  .header {
    height: 150px;
  }

  .main-container {
    overflow-y: auto;
    /* height: 50vh; */
  }

}

@media only screen and (min-width: 375px) and (max-width: 414px){

  .wrapper-product-page {
    margin: 0 auto;
    padding: 0 10px;
    width: auto;
    position: normal; 
  }

  .wrapper-container {
    padding: 20px 20px;
    width: auto;
    margin: 20px auto;
  }

  .wrapper-banner {
    padding: 20px 20px;
    width: auto;
    margin: 20px auto;
    background: transparent;
  }

  .filter {
    display: none;
  }

  .filter-mobile .filter-container-mobile {
    background: white; 
    padding: 10px; 
    margin-top: 30px;
    display: block;
  }

  .filter-container-mobile input {
    height: 32px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 90%;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    outline: none;
    border-radius: 8px;
  }

  .filter-container-mobile select {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 90%;
    padding: 7px 8px;
    font-size: 14px;
  }

  .range-price-mobile {
    display: flex;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
  }

  .range-price-mobile input {
    height: 32px;
    border-radius: 8px;

  }

  .range-price-mobile p {
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
  }

.filter-container-mobile button {
  width: 30%;
  height: 32px;
  margin-left: 10px;
  background: var(--title-text);
  color: white; 
  border: none; 
  border-radius: 8px;
}

.filter-container-mobile button:hover { 
  background: var(--hover-color);
}

.header-product-page {
  background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
  max-width: 1920px;
  position: relative;
  background-size: cover;
  height: 200px;
}

.product-detail-bg {
  overflow: auto; 
}

.comment-input {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.comment-input input {
  width: auto;
}


.comment-input .comments {
  margin-left: 20px;
  height: 52px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

  .product-detail-main {
    display: flex; 
    justify-content: center; 
  }

  .product-items {
    text-align: center
  }

  .store-info {
    text-align: center
  }

  .user-feedback {
    display: inline;
  }

  .product-detail-info h2, p, h5, a{
   text-align: center;
   margin-top: 20px;
   cursor: pointer;
  } 

  .sort-comment {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    align-items: center
  }  
 
 
  .product-detail-info .btn-action , .social-list {
   text-align: center 
  }

  .product-detail-info .product-rating {
    text-align: center;
    margin-top: 10px; 
  }

  .line-container {
    margin-top: 5px; 
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .line-container small {
    text-align: center;
  }

  .header-login {
    background: url(../images/wallpapersden.com_windows-11-4k-green-glow_3840x2400.png);
    max-width: 1920px;
    /* height: 70vh; */
    overflow: auto; 
    position: relative;
    background-size: cover;
  }

  .footer-main {
    /* height: 30vh;  */
    /* overflow: auto;  */
  }

  .login-container {
    margin-top: 50px;
    height: auto;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
   
  }

  .social-login {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-login .login-fb {
    margin-bottom: 10px; 
    min-width: 200px;
    margin-right: 0px;
  }

  .social-login .login-google {
    margin-bottom: 20px; 
    min-width: 200px;
    margin-left: 0px;
    }
  
  
  .login-form {
    display: none;
  }

  .login-form-mobile {
    width: 100%;
    display: flex; 
    margin-bottom: 10px
    /* align-items: center; */
    /* justify-content: center; */
  }

  .login-form-mobile .login-items {  
    margin-top: 10px; 
    margin-bottom: 10px;
    width: 100%
  }

  
  .login-form-mobile .login-items input {
    width: 100%;
    height: 35px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    
  }

  .login-form-mobile .login-items p {
    margin-bottom: 5px;
    text-align: left;
  }

  .login-form-mobile button {
    display: flex; 
    justify-content: center;
    /* margin-left: 200px;  */
    padding: 10px 20px;; 
    color: white; 
    background: var(--title-text);
    border: none; 
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: var(--hover-color)
  }
  
  .login-container h1 {
    font-size: 37px;
    font-weight: 700;
    line-height: 45px;
    text-align:: center;
  }
  
  .social-login {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: ;
  
  }
  
  .social-login img {
    cursor: pointer;
    width: 15px; 
    height: 15px;
    margin-right: 10px
  }
  
  .social-login .login-google {
    background: white; 
    padding: 10px;
    margin-left: 10px;
    border-radius: 8px; 
    border: 1px solid #ccc; 
    width: auto;
    height: 48px;
    display: flex; 
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .social-login .login-fb {
    background: #1877F2; 
    padding: 10px;
   color: white; 
   border-radius: 8px; 
   border: none; 
   width: auto;
   height: 48px;
   cursor: pointer; 
  }
  
  .social-login .login-fb i {
    color: white;
  }

  .product-detail-item {
    display: grid;
    grid-template-column: 1fr;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .product-detail-image {
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  .product-detail-container {
    margin-top: 10px;
    padding: 20px;
    border-radius: 8px;
    background: white;
  }

  .product-detail-info p {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ccc;
    font-size: 16px;
  }

  .btn-cart {
    text-align: center
  }

  .product-detail-info .btn-add-cart {
    background: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--title-text);
    color: var(--title-text);
    cursor: pointer; 
    min-width: 200px;
    height: 35px;
  }

  .product-detail-info .btn-add-cart a {
    color: var(--title-text);
  }


  .sub-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    color: black;
  }

  .product-detail-info .btn-buy {
    background: white;
    padding: 5px;
    border-radius: 5px;
    background: var(--hover-color);
    border: 1px solid var(--title-text);
    color: white;
    min-width: 200px;
    height: 35px;
  }

  .product-detail-info .btn-buy a {
    color: white;
  }

  .social-list img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .product-items h2 {
    padding: 20px;
    font-size: 18px;
    color: var(--sub-text);
  }

  .product-items ul {
    padding: 20px;
  }

  .product-items ul li {
    color: var(--sub-text);
  }

  .product-detail-info .text-price {
    color: var(--title-text);
    font-weight: bold;
    list-style-type: circle;
  }

  .product-detail-info .text-voucher {
    color: var(--vouchers);
  }

  .product-detail-info ul.p {
    list-style-type: circle;
  }

  .product-detail {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .list-product {
    padding: 10px;
    width: 100%;
  }

  .filter {
    position: absolute;
    margin-top: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .filter-container {
    padding: 10px;
    border-radius: 8px;
    background: white;
    display: flex;
    justify-content: space-between;
  }
  .filter-container input {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 50%;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border-radius: inherit;
    outline: none;
  }

  .filter-container select {
    height: 32px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: transparent;
    margin: 10px;
    width: 30%;
    padding: 7px 8px;
    font-size: 14px;
  }

  .range-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .range-price input {
    height: 32px;
    border-radius: 8px;
  }

  .range-price p {
    font-size: 12px;
  }

  .filter-container button {
    width: 30%;
    height: 32px;
  }

  .product-item {
    display: none;
  }

  .product-item-mobile-container {
    margin-bottom: 20px;
  }

  .product-item-mobile {
    margin-top: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }

  .product-item-list {
    margin-bottom: 10px
  }


  .product-item-mobile .product-name a {
    font-szie: 16px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }

  .product-item-mobile .product-img  {
   display: flex; 
   justify-content: center
   
  }

  .product-item-mobile .product-img img {
    width: 100%;
  }

  .product-item-mobile .product-rating {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .product-item-mobile .status {
    display: flex;
    justify-content: space-between;
  }

  .product-item-mobile .product-price {
    text-align: center;
    margin-bottom: 10px;
  }

  .product-item-mobile .add-to-cart {
    text-align: center;
  }

  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  .product-list button {
    padding: 5px 5px;
    margin: 6px;
  }

  .product-list a {
    color: #000
  }

  .slide-container {
    display: grid;
    grid-template-columns: 100%;
  }

  .slide-item img {
    width: 100%;
  }

  .category-list {
   display: grid; 
   grid-template-columns: 100%;
  }

  .category-list .category-item {
    display: inline; 
    text-align: center;
    margin: 10px;
  }

  .category-list .category-item div {
    text-align: center;
   }

  .category-list .category-item div h1 {
   font-size: 18px;
  }

  .category-list .category-item div p {
    font-size: 12px;
   }

  .category-item img {
    height: 35px;
    width: 35px;
    margin-right: 15px;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 100%;
    gap: 5px;
    padding: 10px 10;
  }

  .header {
    max-width: 100%;
    height: 300px;
    background-size: fixed;
    background-attachment: fixed;
  }

  .wrapper {
    padding: 0 10px;
    width: auto;
  }

  #top_header {
    background-color: transparent;;
    height: 52px;
  }

  .header-container {
    display: none;
  }

  .header-container-mobile {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-container-mobile .logo-mobile {
    display: flex;
    justify-content: center;
  }

  .header-container-mobile .logo-mobile img {
    display: none
  }

  .header-container-mobile a {
    color: #8d8d8d;
    font-size: 16px;
    margin-top: 0px;
  }

  .header-container-mobile .action-mobile {
    display: flex;
    align-items: center;
  }

  .header-container-mobile .action-mobile button {
    color: #cccccc;
    background: none;
    border: none;
    margin-left: 10px;
    font-size: 18px;
  }

  .banner {
    margin: 0 auto;
    padding: 10px 10px;
    max-width: auto;
  }

  .top-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-banner img {
    height: 32px;
    width: 32px;
    cursor: pointer;
  }

  .main-logo img {
    display: none;
  }

  .searchbar {
    margin-top: -30px;
    width: 80%;
    display: flex;
    justify-content: end;
    /* display: none; */
  }

  .searchbar img {
    width: 16px;
    height: 16px; 
  }

  input[type="search"]::placeholder {
    font-size: 12px;
    color: white;
  }

  .searchbar p {
    color: white;
    font-size: 14px;
  }

  .top-banner {
    display: flex; 
    justify-content: end;
    margin-top: 20px;
    margin-right: 30px
  }

  .top-banner .cart-container {
    position: relative;
    height: 40px; 
    width: 40px;
  }
  
  .top-banner .cart-container img{
    width: 100%;
    height: 100%;;
    cursor: pointer
    
  }
  
  .top-banner .cart-container span {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: green;
    top: -10px;
    right: -30px;
   
  }
  
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: flex;
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10px;
    z-index: 999
  }

  .mobile-nav i {
    font-size: 25px;
    color: #ccc;
    
  }

  .mobile-nav li {
    padding: 5px 10px; 
    background: transparent;
  }

  .mobile-nav li:hover {
    background: var(--title-text); 
    border-radius: 12px;
    font-size: 20px;
    padding: 5px 10px; 
  }

  .mobile-nav i:hover {
    color: white;
  }



  .main-container {
    overflow-y: auto;
    height: auto;
  }

  .footer {
    background-color: black;
    width: 100%;
    /* overflow: auto; */
  }
  
  .footer-container {
    display: grid;
    grid-template-columns:100%;
    gap: 5px;
    padding: 20px 10px;
  }
  
  .col-1 h1 {
    font-size: 18px;
  }

  
  .col-1 p {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
  }
  
  .col-1 ul li {
    margin-top: 10px;
    color: #ccc;
    font-size: 12px;
    text-align: left;
  }
  
  .hightlight-text {
    margin-top: 1px;
    font-size: 18px;
  }
  
  .col-2 h1 {
    font-size: 18px;
  }
  
  .col-2 p {
    margin-top: 10px;
    font-size: 12px;
  }
  
  .col-2 ul li {
    margin-top: 10px;
    font-size: 12px;
  }

  .action-mobile i {
    display: none;
  }

  .action-mobile button:hover {
    color: white
  }

  .top-banner .cart-icon {
    height: 32px;
    width: 32px;
    margin-top: 0px;
  }

  .top-banner  .searchbar input[type="search"] {
    width: 70%;
    font-size: 12px;
  }

  .searchbar {
    max-width: auto;
  }

  .login-header h1 {
    font-size: 18px;
  }

  .social-login .login-google {
    max-width: 187px;
    height: 38px;
    margin-left: -1px;
  }
  
  .social-login .login-fb {
   max-width: 187px;
   height: 38px;
  }

}

footer {
  background: black;
}


